{% extends 'employer/profilesec.html' %}


{% block emprofiles %}
    
<div class="container mt-5">
    <div class="bg-light p-5 rounded">
        <h1>Delete Job</h1>
        <p>Are you sure you want to delete the job <strong>{{ job.title }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'postedjob' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

{% endblock emprofiles %}
    