{% load static %}

<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent">
        <div class="headder-top header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                        </div>  
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav class="d-none d-lg-block">
                                    <ul id="navigation">
                                        <li><a href="{% url 'index' %}"> Home </a></li>
                                        <li><a href="{% url 'postedjob' %}">Posted Job </a></li>

                                        <li><a href="{% url 'job_post' %}">Post A Job</a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Profile
                                           </a>
                                           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                               <a class="dropdown-item" href="{% url 'emupdate_profile' %}">Update Profile</a>
                                               <a class="dropdown-item" href="{% url 'view_employer_profile' %}">View Profile</a>
                                               <div class="dropdown-divider"></div>
                                               <a class="dropdown-item" href="{% url 'changepassword' %}">Change Password</a>
                                           </div>
                                          </li>
                                        <!-- <li>
                                            <a class="nav-link" href="#">
                                                <i class="bi bi-bell-fill"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </nav>
                            </div>          
                            <!-- Header-btn -->
                            <div class="header-btn d-none f-right d-lg-block">
                              <li class="nav-item dropdown">
                                 <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <img src="{% static 'project.png' %}" alt="Profile" class="rounded-circle" width="70" height="70"> {{ user.username }}
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                     <a class="dropdown-item" href="{% url 'emdashboard' %}">Go to Dashboard</a>
                                     <div class="dropdown-divider"></div>
                                     <a class="dropdown-item" href="{% url 'signout' %}">Sign Out</a>
                                 </div>
                             </li>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
