{% extends "employer/profilesec.html" %}

{% block emprostyle %}
<style>
/* static/css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form h2 {
    text-align: center;
}

form p {
    margin-bottom: 15px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #7282e1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}
</style>   
            
{% endblock emprostyle %}

{% block emprofiles %}

<form method="POST">
    {% csrf_token %}
    <h2>Update Profile</h2><hr>
        {{ company_profile_form.as_p }}
        {{ contact_information_form.as_p }}
        {{ social_network_formset.management_form }}
        {% for form in social_network_formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit" class='text-dark'>Save</button>
    </form>
{% endblock emprofiles %}